/* @keyframes & transitions*/

@-webkit-keyframes scaleY
	
	to
		-webkit-transform: scaleY(1)
		transform: scaleY(1)
	
	
@keyframes scaleY

	to
		-webkit-transform: scaleY(1)
		transform: scaleY(1)


@-webkit-keyframes move
	
	25%
		top: 2em
		left: 2em
	
	50%
		top: 3em
		left: 1em
	75%
		top: 2em
		left: 0em
	100%
		top: 0
		left: 0
	
@keyframes move
	
	25%
		top: 2em
		left: 2em
	
	50%
		top: 3em
		left: 0em
	75%
		top: 2em
		left: -2em
	100%
		top: 0
		left: 0


@keyframes toggle
	to
		transform: translateY(5px)