/*Custom styles*/

/*Slider*/
+slider-full-v()
+slider-semi-h()

.indicator
	+gvSize_val(10px,10px)
	background-color: white
	border-radius: 50%
	position: relative
	cursor: pointer
	&-wrap
		position: fixed
		z-index: 5
		&2
			position: absolute
			z-index: 5
	&:hover
		&:before
			transform: scale(1)
	&:before
		content: attr(for)
		position: absolute
		top: -1.5rem
		left: -(13.2rem + 1.5rem)
		padding: .5rem
		width: 13.2rem
		text-align: center
		border-radius: .5rem
		background-color: #333
		transform: scale(0)
		+gvTransition_val(transform 450ms)
		text-transform: capitalize

.layer
	height: 100vh
	display: flex
	position: relative
	&1
		background-color: $intro-color
	&2
		background-color: $about-color
	&3
		background-color: $respo-color
	&4
		background-color: $skill-color
	&5
		background-color: $intro-color
	&6
		background-color: $hire-color
	&-wrap
		+gvTransition_val(all 450ms)

/*intro*/
.intro
	&-me
		position: relative
		-webkit-user-select: none
		cursor: pointer
		display: block
		margin: 0 auto $md
		overflow: hidden
		+gvSize_val(150px,150px)
		border-radius: 50%
		box-shadow: 0 5px 10px #00639e
		+gvTransition_val(all 450ms)
		&:hover:before
			opacity: 1

		&:before
			content: '\f00e '
			font-family: FontAwesome
			position: absolute
			width: 100%
			height: 100%
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			font-size: 3rem
			color: #333
			background-color: rgba(255,255,255,.5)
			+gvTransition_val(all 450ms)
			opacity: 0
		&.zoomed
			+gvSize_val(250px,250px)
			border-radius: 1rem
			&:before
				content: none
	
	&-list
		& > li
			flex-basis: 33.333333%
			margin-bottom: 2rem
			flex-grow: 0
		.fa
			margin-left: 0
			font-size: 2.5rem
			vertical-align: baseline



/*about*/
.about
	&-list
		&>li
			&>em
				font-weight: 700
	h1
		margin-bottom: 0

/*respo*/
.respo
	h1,h3
		margin-bottom: 0

/*skills*/
.skills
	&-item
		margin-bottom: 2.5rem
	&-inner
		+gvSize_val(150px,150px)
		margin: 0 auto
		border: 2px solid white
		border-radius: 50%
		line-height: 150px
	.container
		width: 960px

/*achives*/
.achv
	.container
		width: 960px
	&-slider
		overflow: hidden
	&-inner
		+gvTransition_val(all 450ms)
	&-slide
		flex-basis: 100%

	&-item
		margin-bottom: 3rem
		&-inner
			height: 222px
			border-radius: 4px
			border: 2px solid white
			position: relative
			display: block
		h3
			font-family: $main-face
			padding: $reg
			background-color: rgba(#1f1e1e,.7)
			position: absolute
			bottom: 0
			left: 0
			right: 0
			margin-bottom: 0
			color: white
			text-decoration: none
			span
				font-size: $h5

/*hire*/
.hire
	.container
		perspective: 1000px
		&.rotate .hire-card
			height: 144px
			-webkit-transform: rotateY(0)
			transform: rotateY(0)
		&.rotate .hire-btn
			-webkit-transform: rotateY(180deg)
			transform: rotateY(180deg)
			margin-bottom: 0
			
	&-btn
		padding: 1.5rem 10rem
		color: $main-color
		background-color: $intro-color
		border: none
		border-radius: .4rem
		box-shadow: 0 2px 0px rgba(black,.37)
		font-size: $h2
		+gvTransition_val(background-color 450ms)
		backface-visibility: hidden

	&-card
		-webkit-transform: rotateY(180deg)
		transform: rotateY(180deg)
		backface-visibility: hidden
		height: 0
		+gvTransition_val(height 450ms, transform 450ms 455ms)
		h1
			margin-bottom: 0

//splash
.splash
	background-color: black
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 200
	+gvTransition_val(all 450ms 2s)

.loaded
	.splash
		-webkit-transform: translateY(-100%)
		transform: translateY(-100%)

.rain-wrap
	position: relative
	display: inline-block
	right: .8rem
.clouds
	position: relative
	margin: 0 auto
	width: 25px
	height: 12px
	border-radius: 50%
	background: lightblue
	box-shadow: 15px -6px 0 4px lightblue,-9px -9px 0 2px lightblue
	z-index: 5

.bolt
	text-align: center
	display: block
	margin-top: .2em
	font-size: 2em
	opacity: 0
	animation: bolt 2s infinite

