/*Custom styles*/

/*Slider*/
// +slider-full-v()
+slider-semi-h()

li
	margin-bottom: 1rem

.scroller
	position: absolute
	top: 0
	left: 0 
	right: -17px
	bottom: 0
	overflow: hidden
	// padding-right: 17px
	&.loaded
		overflow: auto
.indicator
	+gvSize_val(10px,10px)
	background-color: white
	border-radius: 50%
	position: relative
	cursor: pointer
	&-wrap
		position: fixed
		z-index: 5
		&2
			position: absolute
			z-index: 5
	&:hover
		&:before
			transform: scale(1)
	&:before
		content: attr(for)
		position: absolute
		top: -1.5rem
		left: -(13.2rem + 1.5rem)
		padding: .5rem
		min-width: 14.2rem
		text-align: center
		border-radius: .5rem
		background-color: #333
		transform: scale(0)
		+gvTransition_val(transform 450ms)
		text-transform: capitalize

.layer
	padding: 4rem 17px 4rem 0
	position: relative
	&1,&6
		background-color: $intro-color 
		height: 100vh
		display: flex
		padding-top: 0
		padding-bottom: 0
	&1
		flex-direction: column
		&>*
			flex: 0 1

		
	&2
		background-color: $about-color
		a
			color: white
			font-weight: 600
		
	&3
		background-color: $respo-color
		
	&4
		background-color: $skill-color
		
	&5
		background-color: $achv-color
		
	&6
		background-color: $hire-color
		
	&-wrap
		+gvTransition_val(all 1s)

/*intro*/
.intro
	&-scroll
		// position: absolute
		bottom: 0
		left: 0
		right: 0
	&-me
		position: relative
		-webkit-user-select: none
		cursor: pointer
		display: block
		margin: 0 auto $md
		overflow: hidden
		+gvSize_val(150px,150px)
		border-radius: 50%
		-webkit-box-shadow: 0 5px 4px #00639e
		box-shadow: 0 5px 4px #00639e
		animation: shadowGlow 1.5s infinite ease-in-out
		+gvTransition_val(all 450ms)
		&:hover:before
			opacity: 1

		&:before
			content: '\f00e '
			font-family: FontAwesome
			position: absolute
			width: 100%
			height: 100%
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			font-size: 3rem
			color: #333
			background-color: rgba(255,255,255,.5)
			+gvTransition_val(all 450ms)
			opacity: 0
		&.zoomed
			+gvSize_val(250px,250px)
			border-radius: 1rem
			&:before
				content: none
	
	&-list
		& > li
			flex-basis: 33.333333%
			margin-bottom: 2rem
			flex-grow: 0
		.fa
			margin-left: 0
			font-size: 2.5rem
			vertical-align: baseline



/*about*/
.about
	&-list
		&>li
			&>em
				font-weight: 700
	h1
		margin-bottom: 0

/*respo*/
.respo
	line-height: 1.44
	h1,h3
		margin-bottom: 0
	h3
		font-size: 2rem
/*skills*/
.skills
	&-slider
		overflow: hidden
		&-inner
			+gvTransition_val(all 450ms)
	&-slide
		flex-basis: 100%
	&-item
		margin-bottom: 2.5rem
	&-inner
		+gvSize_val(155px,155px)
		margin: 0 auto
		border: 2px solid white
		border-radius: 50%
		line-height: 155px

/*achives*/
.achv
	&-slider
		overflow: hidden
	&-inner
		+gvTransition_val(all 450ms)
	&-slide
		flex-basis: 100%

	&-item
		margin-bottom: 3rem
		&-inner
			height: 222px
			border-radius: 4px
			border: 2px solid white
			position: relative
			display: block
		h3
			font-family: $main-face
			padding: $reg
			background-color: rgba(#1f1e1e,.8)
			position: absolute
			bottom: 0
			left: 0
			right: 0
			margin-bottom: 0
			color: white
			text-decoration: none
			span
				font-size: $h5

/*hire*/
.hire
	.container
		perspective: 1000px
		+gvTransition_val(all 800ms)
		height: 218px
		&.rotate 
			height: 358px

			.hire
				&-card
					height: 144px
					-webkit-transform: rotateY(0)
					transform: rotateY(0)
					bottom: 66px
				&-btn
					-webkit-transform: rotateY(180deg) 
					transform: rotateY(180deg) 
			
	&-btn
		padding: 1.5rem 10rem
		color: $main-color
		background-color: $intro-color
		border: none
		border-radius: .4rem
		box-shadow: 0 4px 0px rgba(black,.37)
		font-size: $h2
		+gvTransition_val(all 800ms)
		-webkit-backface-visibility: hidden
		-moz-backface-visibility: hidden
		backface-visibility: hidden
		-webkit-transform: rotateY(0) 
		transform: rotateY(0) 

	&-card
		position: relative
		-webkit-transform: rotateY(180deg) 
		transform: rotateY(180deg) 
		-webkit-backface-visibility: hidden
		-moz-backface-visibility: hidden
		backface-visibility: hidden
		height: 0
		bottom: 0
		+gvTransition_val(height 450ms, transform 450ms 455ms,bottom 450ms 900ms)


//splash
.splash
	background-color: black
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 200
	+gvTransition_val(transform 450ms 2s)

.loaded
	.splash
		-webkit-transform: translateY(-100%)
		transform: translateY(-100%)

.snippet
	position: relative
	margin: auto
	font-size: 10px

.spinner8
	width: 0
	height: 0
	border: 2.5em solid transparent
	border-right-color: #51b5e3
	border-left-color: #ea8b49
	border-bottom-color: transparent
	border-radius: 10px
	top: 0
	left: 0
	-webkit-transform: scaleY(0)
	transform: scaleY(0)
	box-shadow: 0 0 1px rgba(0,0,0,0)
	animation: scaleY 65ms infinite alternate,move 5s infinite