/*@font-face*/

//Slabo
@font-face
	font-family: 'Slabo27px-Regular'
	src: url('../fonts/Slabo27px-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Slabo27px-Regular.woff') format('woff'), url('../fonts/Slabo27px-Regular.ttf')  format('truetype'), url('../fonts/Slabo27px-Regular.svg#Slabo27px-Regular') format('svg')
	font-weight: normal
	font-style: normal
