
/*Exceptions*/

@media(max-width: 1366px)	

/*HD*/
@media(min-width: 1440px)
	

@media(min-width: 1600px)
	

@media(min-width: 1920px)


@media (min-width: 1200px)


@media(max-width: 1366px)
	

@media (max-width: 1355px)
	body
		overflow: visible

	li
		margin-bottom: 1rem

	.layer
		height: auto
		padding: 3rem 0
	.indicator
		&-wrap
			display: none
			transform: translateY(0)
			&2
				display: none
	.container
		padding: 0 3rem
	
	.splash
		display: none

	.achv
		&-inner
			display: block
	
	.hire
		.container
			height: auto
			&.rotate
				height: auto
				.hire-card
					height: auto
		&-card
			height: auto
			-webkit-transform: rotate(0deg)
			transform: rotate(0deg)
			bottom: 0
			-webkit-backface-visibility: visible
			-moz-backface-visibility: visible
			backface-visibility: visible
			ul
				flex-wrap: wrap
		&-btn
			display: none

/*Med Desktop ,tablets and all mobile Sizes including (phablets) */
@media (max-width: 991px)

@media (max-width: 940px)
	.achv
		&-item
			width: 50%
			&-inner
				height: 250px
	
/*Tablet (portrait) and all mobile Sizes including (phablets) */
@media (max-width: 800px)
	.intro
		&-list
			&>li
				flex-basis: 50%
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis

@media (max-width: 767px)
	.skills
		&-item
			width: 33.333333%
	
@media (max-width: 600px)
	.skills
		&-item
			width: 50%
	.achv
		&-item
			width: 100%
			&-inner
				height: 300px
			
/*Mobile Landscape to Portrait */
@media (max-width: 479px)
	.intro
		&-list
			display: block
			text-align: center
	.achv
		&-item
			&-inner
				height: 250px

@media (max-width: 400px)
	.skills
		&-item
			width: 100%

/*Mobile  Portrait */
@media (max-width: 320px)
	


/*Med Desktop To infinite*/
@media (min-width: 992px)



/*Tablet  to infinite*/

@media (min-width: 768px)



/*Mobile  to infinite*/
@media (min-width: 480px)



/*Mobile  to infinite*/

@media (min-width: 320px)



/*Limitaitons*/

/*Med Desktop To HD*/
@media (min-width: 992px) and (max-width: 1199px)


/*Tablet (landscape) to Med Desktop*/
@media (min-width: 768px) and (max-width: 992px)
	

/*Mobile Landscape To Tablet (portrait) */
@media (min-width: 480px) and (max-width: 767px)





/*Devices*/

/*ipad - portrait*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait)


/*ipad - landscape*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape)




/* ----------- Apple Watch ----------- */
@media (max-device-width: 42mm) and (min-device-width: 38mm)  



/* ----------- Moto 360 Watch ----------- */
@media (max-device-width: 218px) and (max-device-height: 281px)  



/*Refernces:CSS-Tricks*/


