
/*Exceptions*/
@media(max-width: 1366px)

/*HD*/
@media(min-width: 1440px)

@media(min-width: 1600px)
	

@media(min-width: 1920px)


@media (max-width: 1023px)
	.intro
		&-scroll
			display: none
	.layer
		padding-right: 0
		&1, &6
			height: auto
			display: block
			padding-top: 4rem
			padding-bottom: 4rem

@media(max-width: 1024px)
	.go-up
		font-size: 2.5rem
		width: 5rem
		height: 5rem
		display: flex
		justify-content: center
		align-items: center
		right: 1rem
		border-radius: 50%
		background: #00cbff
		padding: 6px 10px
	.scroller
		position: static

	.layer
		padding-right: 0

		&6
			padding-bottom: 0
		&3
			padding: 4rem 0


@media (max-width: 1355px)
	
	.scroller
		overflow: auto
	.layer
		&-wrap
			-webkit-transform: translateY(0)!important
			transform: translateY(0)!important
		&4
			padding-bottom: 4rem
		&5
			padding-bottom: 0
		
	.indicator
		&-wrap
			display: none
			transform: translateY(0)
			&2
				display: none

	.achv
		&-slider
			margin-bottom: 0

	.achv,.skills-slider
		&-inner
			display: block
	
	.hire
		.container
			height: auto
			&.rotate
				height: auto
				.hire-card
					height: auto
					bottom: 0
		&-card
			height: auto
			-webkit-transform: rotate(0deg)
			transform: rotate(0deg)
			bottom: 0
			-webkit-backface-visibility: visible
			-moz-backface-visibility: visible
			backface-visibility: visible
			ul
				flex-wrap: wrap
		&-btn
			display: none
	.intro
		padding-bottom: 6rem
		.fa-heart
			font-size: 1.7rem

/*Med Desktop ,tablets and all mobile Sizes including (phablets) */
@media (max-width: 960px)


@media (max-width: 940px)

	
/*Tablet (portrait) and all mobile Sizes including (phablets) */
@media (max-width: 800px)
	.intro
		&-list
			&>li
				flex-basis: 50%
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis

@media (max-width: 767px)
	.achv
		&-item
			width: 100%
			margin-bottom: 3rem
			&-inner
				height: 450px
				background-size: 122%
				&:hover
					background-size: 150%
	.contact
		&-text
			display: none
		&-post
			width: 25%

	.skills
		&-item
			width: 33.333333%
	
@media (max-width: 600px)
	.skills
		&-item
			width: 50%
	.achv
		&-item
			&-inner
				height: 300px
	.history
		&-post
			width: 100%
			&:nth-last-of-type(1), &:nth-last-of-type(2)
				margin-bottom: 3rem
			&:last-of-type
				margin-bottom: 0
		&-date
			p:first-child
				text-align: center
			
/*Mobile Landscape to Portrait */
@media (max-width: 479px)
	.about
		&-post
			width: 100%
			&:last-of-type
				margin-bottom: 0
		&-img
			width: 250px
			height: 250px
			.fa
				font-size: 8rem
	.contact
		&-post
			width: 50%
		&-email
			font-size: 3rem

	.intro
		&-list
			display: block
			text-align: center
		&-text
			width: auto
	.achv
		&-item
			&-inner
				height: 250px

@media (max-width: 370px)
	.skills
		&-item
			width: 100%
		&-inner
			width: 250px
			height: 250px
			line-height: 250px
			font-size: 2rem

/*Mobile  Portrait */
@media (max-width: 320px)
	


/*Med Desktop To infinite*/
@media (min-width: 992px)



/*Tablet  to infinite*/

@media (min-width: 768px)



/*Mobile  to infinite*/
@media (min-width: 480px)



/*Mobile  to infinite*/

@media (min-width: 320px)



/*Limitaitons*/

/*Med Desktop To HD*/
@media (min-width: 1366px) and (max-width: 1400px)



/*Tablet (landscape) to Med Desktop*/
@media (min-width: 768px) and (max-width: 992px)
	

/*Mobile Landscape To Tablet (portrait) */
@media (min-width: 480px) and (max-width: 767px)





/*Devices*/

/*ipad - portrait*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait)


/*ipad - landscape*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape)




/* ----------- Apple Watch ----------- */
@media (max-device-width: 42mm) and (min-device-width: 38mm)  



/* ----------- Moto 360 Watch ----------- */
@media (max-device-width: 218px) and (max-device-height: 281px)  



/*Refernces:CSS-Tricks*/


