@charset "UTF-8";
/*@font-face */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Slabo27px-Regular";
  src: url("../fonts/Slabo27px-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Slabo27px-Regular.woff") format("woff"), url("../fonts/Slabo27px-Regular.ttf") format("truetype"), url("../fonts/Slabo27px-Regular.svg#Slabo27px-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*General CSS */
/*============ */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "OpenSans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
}

/*Give All anchors/button a transition */
a,
button,
input {
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: none;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 1.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Slabo27px-Regular", sans-serif;
  font-weight: inherit;
  line-height: inherit;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"] {
  padding: 0.6rem 1.5rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="number"]:focus {
  border-color: #deedee;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
table, table tr, table td {
  border: 1px solid #ddd;
}

h1 a {
  color: inherit;
  font-size: inherit;
}

h2 a {
  color: inherit;
  font-size: inherit;
}

h3 a {
  color: inherit;
  font-size: inherit;
}

h4 a {
  color: inherit;
  font-size: inherit;
}

h5 a {
  color: inherit;
  font-size: inherit;
}

h6 a {
  color: inherit;
  font-size: inherit;
}

.fa {
  margin: 0 1rem 0;
  text-decoration: none;
  font-size: 2.5rem;
}

label {
  font-weight: normal;
}

input, button {
  border: none;
}

strong {
  font-size: larger;
}

::-webkit-input-placeholder {
  color: #aaa;
}

::-moz-placeholder {
  color: #aaa;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  padding: 0.3em 1.5em;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px #ddd;
}
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  box-shadow: none;
  top: 1px;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #9a53a9;
}

/*Grid */
.gv-1 {
  width: 8.33333%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-2 {
  width: 16.66667%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-3 {
  width: 25%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-4 {
  width: 33.33333%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-5 {
  width: 41.66667%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-6 {
  width: 50%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-7 {
  width: 58.33333%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-8 {
  width: 66.66667%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-9 {
  width: 75%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-10 {
  width: 83.33333%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-11 {
  width: 91.66667%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.gv-12 {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 15px;
}

.row {
  margin: 0 -1.5rem;
}

.clf:before, .clf:after {
  content: " ";
  display: table;
}
.clf:after {
  clear: both;
}

.container {
  max-width: 960px;
  padding: 0 1.5rem;
  margin: auto;
}

/*Header */
/*Footer */
/*Custom styles */
/*Slider */
body {
  overflow: hidden;
}

.indicator-btn:first-child:checked ~ .indicator-wrap .indicator:first-child {
  cursor: default;
  background-color: #333;
}

.indicator {
  display: block;
  margin-bottom: 1.5rem;
}
.indicator-wrap {
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.indicator-btn:nth-of-type(2):checked ~ .layer-wrap {
  transform: translateY(-100vh);
}
.indicator-btn:nth-of-type(2):checked ~ .indicator-wrap .indicator:nth-of-type(2) {
  cursor: default;
  background-color: #333;
}

.indicator-btn:nth-child(6):checked ~ .layer-wrap {
  transform: translateY(-500vh);
}
.indicator-btn:nth-child(6):checked ~ .indicator-wrap .indicator:nth-child(6) {
  cursor: default;
  background-color: #333;
}

.indicator-btn:nth-of-type(3):checked ~ .layer-wrap {
  transform: translateY(-200vh);
}
.indicator-btn:nth-of-type(3):checked ~ .indicator-wrap .indicator:nth-of-type(3) {
  cursor: default;
  background-color: #333;
}

.indicator-btn:nth-child(6):checked ~ .layer-wrap {
  transform: translateY(-500vh);
}
.indicator-btn:nth-child(6):checked ~ .indicator-wrap .indicator:nth-child(6) {
  cursor: default;
  background-color: #333;
}

.indicator-btn:nth-of-type(4):checked ~ .layer-wrap {
  transform: translateY(-300vh);
}
.indicator-btn:nth-of-type(4):checked ~ .indicator-wrap .indicator:nth-of-type(4) {
  cursor: default;
  background-color: #333;
}

.indicator-btn:nth-child(6):checked ~ .layer-wrap {
  transform: translateY(-500vh);
}
.indicator-btn:nth-child(6):checked ~ .indicator-wrap .indicator:nth-child(6) {
  cursor: default;
  background-color: #333;
}

.indicator-btn:nth-of-type(5):checked ~ .layer-wrap {
  transform: translateY(-400vh);
}
.indicator-btn:nth-of-type(5):checked ~ .indicator-wrap .indicator:nth-of-type(5) {
  cursor: default;
  background-color: #333;
}

.indicator-btn:nth-child(6):checked ~ .layer-wrap {
  transform: translateY(-500vh);
}
.indicator-btn:nth-child(6):checked ~ .indicator-wrap .indicator:nth-child(6) {
  cursor: default;
  background-color: #333;
}

.indicator-btn2:first-child:checked ~ .indicator-wrap2 .indicator:first-child {
  cursor: default;
  background-color: #333;
}

.indicator-wrap2 {
  bottom: 1rem;
  right: auto;
  top: auto;
  left: 50%;
  transform: translate(-50%);
}
.indicator-wrap2 .indicator {
  display: inline-block;
  margin-right: 1.5rem;
}
.indicator-wrap2 .indicator:before {
  content: none;
}

.indicator-btn2:nth-of-type(2):checked ~ .container .achv-slider .achv-inner {
  transform: translateX(-100%);
}
.indicator-btn2:nth-of-type(2):checked ~ .indicator-wrap2 .indicator:nth-of-type(2) {
  cursor: default;
  background-color: #333;
}

.indicator-btn2:nth-child(4):checked ~ .container .achv-slider .achv-inner {
  transform: translateX(-300%);
}
.indicator-btn2:nth-child(4):checked ~ .indicator-wrap2 .indicator:nth-child(4) {
  cursor: default;
  background-color: #333;
}

.indicator-btn2:nth-of-type(3):checked ~ .container .achv-slider .achv-inner {
  transform: translateX(-200%);
}
.indicator-btn2:nth-of-type(3):checked ~ .indicator-wrap2 .indicator:nth-of-type(3) {
  cursor: default;
  background-color: #333;
}

.indicator-btn2:nth-child(4):checked ~ .container .achv-slider .achv-inner {
  transform: translateX(-300%);
}
.indicator-btn2:nth-child(4):checked ~ .indicator-wrap2 .indicator:nth-child(4) {
  cursor: default;
  background-color: #333;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.indicator-wrap {
  position: fixed;
  z-index: 5;
}
.indicator-wrap2 {
  position: absolute;
  z-index: 5;
}
.indicator:hover:before {
  transform: scale(1);
}
.indicator:before {
  content: attr(for);
  position: absolute;
  top: -1.5rem;
  left: -14.7rem;
  padding: 0.5rem;
  width: 13.2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #333;
  transform: scale(0);
  -webkit-transition: transform 450ms;
  transition: transform 450ms;
  text-transform: capitalize;
}

.layer {
  height: 100vh;
  display: flex;
  position: relative;
}
.layer1 {
  background-color: #4da6db;
}
.layer2 {
  background-color: #eb4242;
}
.layer3 {
  background-color: #ff9125;
}
.layer4 {
  background-color: #9a53a9;
}
.layer5 {
  background-color: #4da6db;
}
.layer6 {
  background-color: #6db2c8;
}
.layer-wrap {
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

/*intro */
.intro-me {
  position: relative;
  -webkit-user-select: none;
  cursor: pointer;
  display: block;
  margin: 0 auto 3rem;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 5px 10px #00639e;
  -webkit-transition: all 450ms;
  transition: all 450ms;
}
.intro-me:hover:before {
  opacity: 1;
}
.intro-me:before {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 450ms;
  transition: all 450ms;
  opacity: 0;
}
.intro-me.zoomed {
  width: 250px;
  height: 250px;
  border-radius: 1rem;
}
.intro-me.zoomed:before {
  content: none;
}
.intro-list > li {
  flex-basis: 33.33333%;
  margin-bottom: 2rem;
  flex-grow: 0;
}
.intro-list .fa {
  margin-left: 0;
  font-size: 2.5rem;
  vertical-align: baseline;
}

/*about */
.about-list > li > em {
  font-weight: 700;
}
.about h1 {
  margin-bottom: 0;
}

/*respo */
.respo h1, .respo h3 {
  margin-bottom: 0;
}

/*skills */
.skills-item {
  margin-bottom: 2.5rem;
}
.skills-inner {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 150px;
}
.skills .container {
  width: 960px;
}

/*achives */
.achv .container {
  width: 960px;
}
.achv-slider {
  overflow: hidden;
}
.achv-inner {
  -webkit-transition: all 450ms;
  transition: all 450ms;
}
.achv-slide {
  flex-basis: 100%;
}
.achv-item {
  margin-bottom: 3rem;
}
.achv-item-inner {
  height: 222px;
  border-radius: 4px;
  border: 2px solid white;
  position: relative;
  display: block;
}
.achv-item h3 {
  font-family: "OpenSans", sans-serif;
  padding: 1.5rem;
  background-color: rgba(31, 30, 30, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  color: white;
  text-decoration: none;
}
.achv-item h3 span {
  font-size: 1.4rem;
}

/*hire */
.hire-btn {
  padding: 1.5rem 10rem;
  color: #fff;
  background-color: #4da6db;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.37);
  font-size: 2.4rem;
  -webkit-transition: background-color 450ms;
  transition: background-color 450ms;
}

/* @keyframes & transitions */
/*Regular give.css */
.gv-main-face {
  font-family: "OpenSans", sans-serif;
}
.gv-heading-face {
  font-family: "Slabo27px-Regular", sans-serif;
}
.gv-bold {
  font-weight: bold;
}
.gv-bolder {
  font-weight: bolder;
}
.gv-italic {
  font-style: italic;
}
.gv-underline {
  text-decoration: underline;
}
.gv-uppercase {
  text-transform: uppercase;
}
.gv-lowercase {
  text-transform: lowercase;
}
.gv-capitalize {
  text-transform: capitalize;
}
.gv-align-left {
  text-align: left;
}
.gv-align-right {
  text-align: right;
}
.gv-align-center {
  text-align: center;
}
.gv-margin {
  margin: 1.5rem;
}
.gv-margin-lg {
  margin: 4rem;
}
.gv-margin-md {
  margin: 3rem;
}
.gv-margin-sm {
  margin: 1rem;
}
.gv-margin-auto {
  margin: 0 auto;
}
.gv-margin-tb {
  margin: 1.5rem 0;
}
.gv-margin-tb-lg {
  margin: 4rem 0;
}
.gv-margin-tb-md {
  margin: 3rem 0;
}
.gv-margin-tb-sm {
  margin: 1rem 0;
}
.gv-margin-rl {
  margin: 0 1.5rem;
}
.gv-margin-rl-lg {
  margin: 0 4rem;
}
.gv-margin-rl-md {
  margin: 0 3rem;
}
.gv-margin-rl-sm {
  margin: 0 1rem;
}
.gv-margin-top {
  margin-top: 1.5rem;
}
.gv-margin-top-lg {
  margin-top: 4rem;
}
.gv-margin-top-md {
  margin-top: 3rem;
}
.gv-margin-top-sm {
  margin-top: 1rem;
}
.gv-margin-right {
  margin-right: 1.5rem;
}
.gv-margin-right-lg {
  margin-right: 4rem;
}
.gv-margin-right-md {
  margin-right: 3rem;
}
.gv-margin-right-sm {
  margin-right: 1rem;
}
.gv-margin-bottom {
  margin-bottom: 1.5rem;
}
.gv-margin-bottom-lg {
  margin-bottom: 4rem;
}
.gv-margin-bottom-md {
  margin-bottom: 3rem;
}
.gv-margin-bottom-sm {
  margin-bottom: 1rem;
}
.gv-margin-left {
  margin-left: 1.5rem;
}
.gv-margin-left-lg {
  margin-left: 4rem;
}
.gv-margin-left-md {
  margin-left: 3rem;
}
.gv-margin-left-sm {
  margin-left: 1rem;
}
.gv-padding {
  padding: 1.5rem;
}
.gv-padding-lg {
  padding: 4rem;
}
.gv-padding-md {
  padding: 3rem;
}
.gv-padding-sm {
  padding: 1rem;
}
.gv-padding-tb {
  padding: 1.5rem 0;
}
.gv-padding-tb-lg {
  padding: 4rem 0;
}
.gv-padding-tb-md {
  padding: 3rem 0;
}
.gv-padding-tb-sm {
  padding: 1rem 0;
}
.gv-padding-rl {
  padding: 0 1.5rem;
}
.gv-padding-rl-lg {
  padding: 0 4rem;
}
.gv-padding-rl-md {
  padding: 0 3rem;
}
.gv-padding-rl-sm {
  padding: 0 1rem;
}
.gv-padding-top {
  padding-top: 1.5rem;
}
.gv-padding-top-lg {
  padding-top: 4rem;
}
.gv-padding-top-md {
  padding-top: 3rem;
}
.gv-padding-top-sm {
  padding-top: 1rem;
}
.gv-padding-right {
  padding-right: 1.5rem;
}
.gv-padding-right-lg {
  padding-right: 4rem;
}
.gv-padding-right-md {
  padding-right: 3rem;
}
.gv-padding-right-sm {
  padding-right: 1rem;
}
.gv-padding-bottom {
  padding-bottom: 1.5rem;
}
.gv-padding-bottom-lg {
  padding-bottom: 4rem;
}
.gv-padding-bottom-md {
  padding-bottom: 3rem;
}
.gv-padding-bottom-sm {
  padding-bottom: 1rem;
}
.gv-padding-left {
  padding-left: 1.5rem;
}
.gv-padding-left-lg {
  padding-left: 4rem;
}
.gv-padding-left-md {
  padding-left: 3rem;
}
.gv-padding-left-sm {
  padding-left: 1rem;
}
.gv-border {
  border: 0.2rem solid #ddd;
}
.gv-border-lg {
  border: 0.4rem solid #ddd;
}
.gv-border-md {
  border: 0.3rem solid #ddd;
}
.gv-border-sm {
  border: 0.1rem solid #ddd;
}
.gv-border-top {
  border-top: 0.2rem solid #ddd;
}
.gv-border-top-lg {
  border-top: 0.4rem solid #ddd;
}
.gv-border-top-md {
  border-top: 0.3rem solid #ddd;
}
.gv-border-top-sm {
  border-top: 0.1rem solid #ddd;
}
.gv-border-right {
  border-right: 0.2rem solid #ddd;
}
.gv-border-right-lg {
  border-right: 0.4rem solid #ddd;
}
.gv-border-right-md {
  border-right: 0.3rem solid #ddd;
}
.gv-border-right-sm {
  border-right: 0.1rem solid #ddd;
}
.gv-border-bottom {
  border-bottom: 0.2rem solid #ddd;
}
.gv-border-bottom-lg {
  border-bottom: 0.4rem solid #ddd;
}
.gv-border-bottom-md {
  border-bottom: 0.3rem solid #ddd;
}
.gv-border-bottom-sm {
  border-bottom: 0.1rem solid #ddd;
}
.gv-border-left {
  border-bottom: 0.2rem solid #ddd;
}
.gv-border-left-lg {
  border-left: 0.4rem solid #ddd;
}
.gv-border-left-md {
  border-left: 0.3rem solid #ddd;
}
.gv-border-left-sm {
  border-left: 0.1rem solid #ddd;
}
.gv-radius {
  border-radius: 0.5rem;
}
.gv-radius-lg {
  border-radius: 2rem;
}
.gv-radius-md {
  border-radius: 1rem;
}
.gv-radius-sm {
  border-radius: 0.2rem;
}
.gv-float-left {
  float: left;
}
.gv-float-right {
  float: right;
}
.gv-color-main {
  color: #fff;
}
.gv-color-intro {
  color: #4da6db;
}
.gv-color-about {
  color: #eb4242;
}
.gv-color-respo {
  color: #ff9125;
}
.gv-color-skill {
  color: #9a53a9;
}
.gv-color-hire {
  color: #6db2c8;
}
.gv-bg-main {
  background-color: #fff;
}
.gv-bg-intro {
  background-color: #4da6db;
}
.gv-bg-about {
  background-color: #eb4242;
}
.gv-bg-respo {
  background-color: #ff9125;
}
.gv-bg-skill {
  background-color: #9a53a9;
}
.gv-bg-hire {
  background-color: #6db2c8;
}
.gv-bg-center {
  background-position: center center;
}
.gv-bg-center-top {
  background-position: center top;
}
.gv-bg-center-bottom {
  background-position: center bottom;
}
.gv-bg-left {
  background-position: left center;
}
.gv-bg-left-top {
  background-position: left top;
}
.gv-bg-left-bottom {
  background-position: left bottom;
}
.gv-bg-right {
  background-position: right center;
}
.gv-bg-right-top {
  background-position: right top;
}
.gv-bg-right-bottom {
  background-position: right bottom;
}
.gv-bg-thumb {
  background-size: cover;
  background-position: center center;
}
.gv-bg-no-repeat {
  background-repeat: no-repeat;
}
.gv-bg-contain {
  background-size: contain;
}
.gv-block {
  display: block;
}
.gv-inline {
  display: inline;
}
.gv-inline-block {
  display: inline-block;
}
.gv-list-item {
  display: list-item;
}
.gv-decimal {
  list-style: decimal;
}
.gv-no-padding {
  padding: 0;
}
.gv-no-bullet {
  list-style: none;
}
.gv-no-display {
  display: none;
}
.gv-no-margin {
  margin: 0;
}
.gv-no-float {
  float: none;
}
.gv-no-underline {
  text-decoration: none;
}
.gv-relative {
  position: relative;
}
.gv-absolute {
  position: absolute;
}
.gv-fixed {
  position: fixed;
}
.gv-position-default {
  top: 0;
  left: 0;
}
.gv-ovflow-visible {
  overflow: visible;
}
.gv-ovflow-hidden {
  overflow: hidden;
}
.gv-ovflow-auto {
  overflow: auto;
}
.gv-ovflow-scroll {
  overflow: scroll;
}
.gv-shadow-box {
  box-shadow: 2px 2px 2px #ddd;
}
.gv-shadow-text {
  text-shadow: 2px 2px 2px #ddd;
}
.gv-flex {
  display: flex;
}
.gv-flex > * {
  flex-grow: 1;
  flex-shrink: 0;
}
.gv-flex-row {
  flex-direction: row;
}
.gv-flex-row-reverse {
  flex-direction: row-reverse;
}
.gv-flex-column-reverse {
  flex-direction: column-reverse;
}
.gv-flex-wrap {
  flex-wrap: wrap;
}
.gv-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.gv-flex-center {
  align-items: center;
  justify-content: center;
}
.gv-flex-center-h {
  justify-content: center;
}
.gv-flex-center-v {
  align-items: center;
}
.gv-flex-end {
  align-items: flex-end;
  justify-content: flex-end;
}
.gv-flex-end-h {
  justify-content: flex-end;
}
.gv-flex-end-v {
  align-items: flex-end;
}
.gv-flex-stretch {
  align-items: stretch;
}
.gv-flex-stretch-content {
  align-content: stretch;
}
.gv-flex-sp-between-h {
  justify-content: space-between;
}
.gv-flex-sp-between-v {
  align-content: space-between;
}
.gv-flex-sp-around-h {
  justify-content: space-around;
}
.gv-flex-sp-around-v {
  align-content: space-around;
}
